.formulario {
    width: 100%;
}

.campo {
    display: flex;
    align-items: center;
    // gap: 2rem;
    margin-bottom: 2rem;

    &:last-of-type {
        margin-bottom: 0;
    }
    label {
        flex: 0 0 10rem;
        color: $blanco;
    }
    input {
        flex: 1;
        padding: $separacion / 4;
        border-radius: 1rem;
        border: none;
    }
}